.header {
	background: $bg-h;
	padding: 3.2em 0 5.1em;
	min-height: 16.5em;
	box-sizing: border-box;
	@include resp(mobile-down) {
		&-wrap {flex-direction: column;}
		div &-conn {
			& .feedback {float: left;}
		}
	}

	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-logo {
		&-img {
			width: 273px;
			height: 100px;
			max-width: 100%;
		}
	}
	&-conn {
		& .num {
			font-family: $text-h;
			color: $color-h;
			font-size: 2.85em;
			font-weight: 400;
			line-height: 3.28rem;
			letter-spacing: 1px;
			display: block;
		}
		& .feedback {
			color: $color-h;
			font-family: $text;
			font-size: 1.7em;
			font-weight: 700;
			border: 0;
			border-bottom: 1px dashed $color-h;
			background: none;
			display: block;
			float: right;
			cursor: pointer;
		}
	}
}