.header {
	background: $bg-h;
	padding: 3em 0 3em;
	min-height: 16.5em;
	box-sizing: border-box;
	@include resp(mobile-down) {
		&-wrap {
			flex-direction: column;
			align-items: flex-start;
		}
		div &-conn,
		div &-logo {width: 100%;}
		div &-conn {
			& .feedback {float: left;}
			& .num {text-align: left;}
		}
	}

	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&-logo {
		width: 50%;
		&-img {
			width: 273px;
			height: 100px;
			max-width: 100%;
		}
	}
	&-conn {
		width: 50%;
		& .num {
			font-family: $text-h;
			color: $color-h;
			font-size: 2.85em;
			font-weight: 400;
			line-height: 3rem;
			letter-spacing: 1px;
			display: block;
			text-align: right;
		}
		& .feedback {
			color: $color-h;
			font-family: $text;
			font-size: 1.7em;
			font-weight: 700;
			border: 0;
			border-bottom: 1px dashed $color-h;
			background: none;
			display: block;
			float: right;
			cursor: pointer;
		}
	}
}